.header{
    padding: 0 16px 0 16px;
    max-width: 327px;
    top: 0px;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background-color: white;
    height: 55px;
}
.header__card{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 327px;
}
.content{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    min-height: 400px;
    min-width: 360px;
}
.notAuthPage__header{
    display: flex;
    max-width: 360px;
    justify-content: center;
    align-items: center;
}